

html {
  font-size: 10px;  
  font-family: 'Roboto';
  font-weight: 200;
}

body{ 
  font-family: 'Nanum Gothic', sans-serif;
}

@mixin button {
  border: none;
	padding: .5em 2em .55em;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}

a {
  color: $font-color;
  text-decoration: none;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

// breakpoint
@mixin mobile {
  @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet - 1px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: $breakpoint-desktop - 1px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop - 1px) {
    @content;
  }
}