

html {
  font-size: 10px;  
  font-family: 'roboto';  
  font-weight: 200;
}

body{ 
  font-family: 'Nanum Gothic', sans-serif;
}

@mixin button {
  font-weight: 100;
  font-family: 'roboto';
  border: none;
	padding: .5em 2em .55em;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}

a {
  color: $font-color;
  text-decoration: none;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

// breakpoint
@mixin mobile {
  @media (min-width: 0) and (max-width: $breakpoint-mobile - 1px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: $breakpoint-tablet - 1px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop - 1px) {
    @content;
  }
}

.spinner {
  display: none;
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #ccc4b9;
  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes mapping{
  0% {top: 0;}
  50%{top: -5px;}
  100% {top:0; }
}
@-moz-keyframes mapping{
  0% {top: 0;}
  50%{top: -5px;}
  100% {top:0; }
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}