html {
  font-size: 10px;
  font-family: 'Roboto';
  font-weight: 200;
}

@mixin button {
  border: none;
	padding: .5em 2em .55em;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}

