
.footer {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    content: '';
    width: 350px;
    border: 1px solid $base-color;
  }
  @include flexCenter;
  padding: 30px;
  background-color: $secondary-color;
  font-family: 'roboto';
  color: $dark-base-color;  
  .footer-content {
    text-align: center;
    font-size: $large-font;
    .footer-heading {
      font-weight: bold;
      margin-bottom: 15px;
      letter-spacing: 2px;
    }
    em {
      display: block;
      color: #cfaa79;
    }
    .indiego-info {
      width: 80vw;
      max-width: 600px;
      text-align: justify;
      line-height: 2;
      font-size: 1.3rem;
    }
    .member-intro {
      justify-content: center;
      font-size: $medium-font;
      display: flex;
      width: 300px;
      margin: 30px auto;
      li {
        padding: 10px;
        .image-container img{
          width: 35px;
          border-radius: 50%;
          border: 1px solid rgb(222, 222, 222);
          background-color: #e6d1b76e;
        }
        .member-name {
          margin-top: 15px;
          display: inline-block;
          font-size: $small-font;
          color:#94674b;
        }
      }
    }
  }
}

@include tablet {
  .footer {
    &:before {
      width: 200px;
    }
}
}
@include mobile {
  .footer {
    &:before {
      width: 150px;
    }
    .footer-content {
      .member-intro {
        display: block;
      }
    }
  }
}