.footer {
  @include flexCenter;
  padding: 30px;
  background-color: $secondary-color;
  font-family: 'roboto';
  color: $dark-base-color;  
  .footer-content {
    text-align: center;
    font-size: $large-font;
    .footer-heading {
      font-weight: bold;
      margin-bottom: 15px;
      letter-spacing: 2px;
    }
    em {
      display: block;
    }
    .indiego-info {
      width: 80vw;
      text-align: justify;
    }
    .member-intro {
      font-size: $medium-font;
      display: flex;
      li {
        padding: 10px;
      }
    }
  }
}


@include mobile {
  .footer {
    .footer-content {
      .member-intro {
        display: block;
      }
    }
  }
}