.header {
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  font-size: $medium-font;
  .login-btn {
    @include button;
    color: $font-color;
    background-color: transparent;
    transition: 0.5s;
    margin-top: 10px;
    &:hover {
      color: rgb(2, 2, 2);
    }
    s .login-btn-txt {
      margin-left: 5px;
    }
  }
  .favorite-popup {
    background: yellow;
    position: absolute;
    top: 80px;
    right: 200px;
    display: none;
    &.is-active {
      display: block;
    }
  }
}
