.header {
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  font-size: $medium-font;
  .login-btn {
    @include button;
    color: $font-color;
    background-color: transparent;
    transition: 0.5s;
    margin-top: 10px;
    &:hover {
      color: rgb(2, 2, 2);
    }
    s .login-btn-txt {
      margin-left: 5px;
    }
  }
  .favorite-popup {
    background: $base-color;
    position: absolute;
    top: 80px;
    right: 200px;
    padding: 20px;
    opacity: 0;

    &.is-active {
      opacity: 1;
      transition: all 1s;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 70%;
      width: 0;
      height: 0;
      border: 15px solid transparent;
      border-bottom-color: $base-color;
      border-top: 0;
      margin-left: -15px;
      margin-top: -15px;
    }

    .favorite-list {
      font: {
        size: 1.5rem;
        weight: 700;
      }
      text-align: center;
      color: $dark-base-color;
      li {
        margin-bottom: 10px;
      }
    }
  }
}
