
.header {
  margin-top: 15px;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  font-size: $medium-font;
  button {
        font-size: $medium-font;
    &:hover {
      color: rgb(2, 2, 2);
    }
  }
  .login-btn {
    @include button;
    color: $font-color;
    background-color: transparent;
    transition: 0.5s;
    margin-top: 10px;
  }
  .favorite-popup {
    background: yellow;
    position: absolute;
    top: 80px;
    right: 200px;
    display: none;
    &.is-active {
      display: block;
    }
  }
  svg {
    margin-right: 5px;
    color: $font-color;
  }
}


header {
  .login-btn {
    @include button;
  }
  .logout-btn {
    @include button;
    background: none;
    display: none;
  }
  .favorite-btn {
    @include button;
    background: none;
    display: none;
  }
}