.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  input {
    padding: 10px;
    font-size: 1.6rem;
  }
  label {
    font-size: 2rem;
    font-family: 'roboto';
    position: absolute;
    left: 15px;
    top: 5px;
    height: 6vh;
    line-height: 6vh;
    transition: all .3s;
  }
  .label-focus {
    left: 10px;
    top: -10px;
    font-size: 1.3rem;
  }
}
