@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


.login {
  display: none;
  font-family: 'roboto';

  .login-popup-bg {
        background-color: rgba(0, 0, 0, 0.5);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        position:fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
  }

  .login-popup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $popup-color;
    width: 80%;
    height: 85%;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    border-radius: 1px;

    .login-logo {
      width: 25%;
      position: absolute;
      left: 30px;
      top: 30px;
    }

    .login-image {
      margin-top: 100px;
      width: 50%;
      border-radius: 1px;
    }
    
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    label {
      margin-top: 5px;
    }

    input {
      padding: 0;
      margin: 5px;
      background-color: transparent;
      border-style: none;
      border-bottom: 1px solid $font-color;
      width: 50vw;
      height: 8vh;
      font-size: 1.6rem;
      font-family: 'roboto';
      font-weight: 500;
      text-align: center;
      color: black;
      outline: none;

    }
    .not-valid {
      border-color: red;
      color: red;
    }

    .btn-wrapper {
      height: auto;
      display: flex;
      justify-content: center;
      margin-top: 30px;

    }
    button {
      font-family: 'roboto';
      font-size: 2rem;
      height: 8vh;
      width: 30vw;
      margin: 10px;
      display: inline-block;
      text-align: center;
      background-color: transparent;
      border-radius: 1px;
      border: 1px solid $font-color;
      outline: none;
      text-transform: uppercase;
      cursor: pointer;
      
      &:hover {
        background-color: $font-color;
        color: $base-color;
      }

      &[disabled] {
        background-color: $font-color;
        color: $base-color;
        cursor: not-allowed;
      }
    }

    .close-btn {
      position: absolute;
      right: 30px;
      top: 30px;
      cursor: pointer;
    }
  }
}
.is-active {
  display: block;
}



@include desktop {
  .login {
    font-family: 'roboto';
    .login-popup-container {

      .login-logo {
        width: 10vh;
        position: absolute;
        left: 80px;
        top: 80px;
      }

      .login-image {
        width: 30%;
      }

      input {
        width: 40vw;
      }

      button {
        width: 18vw;
      }
      .close-btn {
        position: absolute;
        right: 80px;
        top: 80px;
      }
    }
  }
} 