    header {
    .login-btn {
      @include button;
      position: absolute;
      background: none;
      top: 25px;
      right: 25px;
      color: $font-color;
      font-size: $medium-font;
    }
  }
 
  .landing {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 300px;
      height: 300px;
    }
  }

.main {
  background: $secondary-color;
  .menu {
    background: skyblue;
    .is-active {
      display: block;
    }
  }
}

.menu-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  & button {
    font-size: 60px;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
  }
}

.bookstore-info {
  background: lightgreen;
  display: none;
}

.theatre-info {
  background: crimson;
  display: none;
}
