$popup-color: #f6f0e5;
$base-color: #F7F0E5;
$dark-base-color: #94674B;
$secondary-color: #fff;
$font-color: #666666;
$small-font: 1rem;
$medium-font: 1.6rem;
$large-font: 2.0rem;

$breakpoint-mobile: 320px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

